@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html, body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  transition: background 0.3s, color 0.3s;
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gm-style button,
.gm-style .gm-fullscreen-control {
  font-size: 14px !important;
}

#maps-message {
  color: white;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
