@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: "#0c0c0c";
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */
  --foreground-rgb: 0, 0, 0;
  /* --background-rgb: 251, 254, 254;  */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */

    --foreground-rgb: 255, 255, 255;
    /* --background-rgb: 12, 12, 12; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

html {
  background-color: rgb(var(--background-rgb));
}
